<div class="container-fluid">
  <h4><strong>Incluir extrato Conta Corrente</strong></h4>
  <hr />
  <div class="card">
    <div class="card-body">
      <div class="col-md-12 txtBox">
        <div class="row">
          <div class="col-md-2">
            <mat-form-field class="example-full-width">
              <mat-label>Descrição</mat-label>
              <input matInput [(ngModel)]="descricao">
            </mat-form-field>
          </div>
          <div class="col-md-2">
            <mat-form-field class="example-full-width">
              <mat-label>Valor</mat-label>
              <input matInput [(ngModel)]="valor">
            </mat-form-field>
          </div>
          <div class="col-md-2">
            <button mat-mini-fab matTooltip="Salvar" color="warn" (click)="aoIncluirExtratoContaCorrente()">
              <mat-icon>save</mat-icon>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
