<div class="container-fluid">
  <h4><strong>Extrato Conta Corrente</strong></h4>
  <hr />
  <div class="card">
    <div class="card-body">
      <div class="col-md-12 txtBox">
        <div class="row">
          <div class="col-md-8">
            <mat-form-field>
              <mat-label>Enter a date range</mat-label>
              <mat-date-range-input [formGroup]="range" [rangePicker]="picker">
                <input matStartDate formControlName="start" placeholder="Start date">
                <input matEndDate formControlName="end" placeholder="End date">
              </mat-date-range-input>
              <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
              <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-date-range-picker #picker></mat-date-range-picker>

              @if (range.controls.start.hasError('matStartDateInvalid')) {
              <mat-error>Invalid start date</mat-error>
              }
              @if (range.controls.end.hasError('matEndDateInvalid')) {
              <mat-error>Invalid end date</mat-error>
              }
            </mat-form-field>
          </div>
          <div class="col-md-1">
            <button mat-fab color="warn" aria-label="Pesquisar" matTooltip="Pesquisar"
              (click)="obterExtratoContaCorrente()">
              <mat-icon>search</mat-icon>
            </button>
          </div>
          <div class="col-md-1">
            <button mat-fab color="warn" aria-label="Adicionar" matTooltip="Adicionar" (click)="aoIncluirExtrato()">
              <mat-icon>library_add</mat-icon>
            </button>
          </div>
          <div class="col-md-1">
            <button mat-fab color="warn" aria-label="Limpar" matTooltip="Limpar pesquisa" (click)="aoLimparPesquisa()">
              <mat-icon>not_interested</mat-icon>
            </button>
          </div>
        </div>
      </div>
      <div class="col-md-12 txtBox" *ngIf="model">
        <table id="tabelaResultado" class="table">
          <thead>
            <tr>
              <th>Id</th>
              <th>Descrição</th>
              <th>Data</th>
              <th>Valor</th>
              <th>Avulso</th>
              <th>Status</th>
              <th>Ação</th>
            </tr>
          </thead>
          <tbody *ngIf="model">
            <tr *ngFor="let item of model.extrato">
              <td>{{ item.id }}</td>
              <td>{{ item.descricao}}</td>
              <td>{{ item.data | date : 'dd/MM/yyyy HH:mm' }}</td>
              <td *ngIf="!permitirEdicaoExtrato">{{ item.valor }}</td>
              <td *ngIf="permitirEdicaoExtrato">
                <mat-form-field class="example-full-width">
                  <mat-label>Valor</mat-label>
                  <input matInput [(ngModel)]="valorEditado">
                </mat-form-field>
              </td>
              <td>{{ item.avulso == true ? 'Avulso' : 'Não Avulso'}}</td>
              <td>{{ item.statusId == 1 ? 'Válido' : 'Cancelado' }}</td>
              <td *ngIf="!permitirEdicaoExtrato">
                <button mat-mini-fab matTooltip="Editar" color="warn" (click)="aoLiberarEdicaoExtrato()">
                  <mat-icon>edit</mat-icon>
                </button>
                <button *ngIf="item.avulso == true && item.statusId == 1" mat-mini-fab matTooltip="Cancelar" color="warn" (click)="aoCancelarExtrato(item.id)">
                  <mat-icon>cancel</mat-icon>
                </button>
              </td>
              <td *ngIf="permitirEdicaoExtrato">
                <button mat-mini-fab matTooltip="Salvar" color="warn" (click)="aoEditarExtrato(item)">
                  <mat-icon>save</mat-icon>
                </button>
                <button mat-mini-fab matTooltip="Cancelar Edicao" color="warn" (click)="aoCancelarEdicao()">
                  <mat-icon>cancel_presentation</mat-icon>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
        <div>
          Valor total: {{ model.valorTotal }}
        </div>
      </div>
    </div>
  </div>
</div>
